.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
    border: none;
    background: var(--primary);
    color: var(--text-over-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24rem;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

